<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/assets/css/style.css'/>
</head>
<body>
    <div class="container">
        {% block master %}{% endblock %}
    </div>

    <script src="/assets/js/main.js"></script>
</body>
</html>
